.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.summary {
  width: 45%;
  flex: 1 1 300px;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.skills {
  width: 55%;
  margin-bottom: 2rem;
  flex: 1 1 350px;
}

.skill-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -8px;
  margin-top: 8px;
  margin-bottom: 1rem;
}

.skill-item {
  background-color: #CCCCCC;
  color: #111111;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 8px;
  border-radius: 5px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-item svg {
  fill: #333333;
  margin-right: 6px;
  height: 1.5rem;
}

.skill-item:hover {
  background-color: #FFFFFF;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-container a {
  text-decoration: none;
}

.contact-btn {
  padding: 8px 20px;
  margin-right: 6px;
  border-radius: 3px;
  border-bottom: 2px solid #904dc7;
  background: linear-gradient(to top, #904dc7 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top left;
  transition: background .2s ease-out;
  font-size: 1.5rem;
}

.contact-btn:hover {
  color: #FFFFFF;
  background-position: bottom left;
}