body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  color: #DDDDDD;
  background-color: #222222;
}

body a {
  color: #DDDDDD
}

.page-content {
  display: flex;
  padding: 15px 1.5rem;
  margin-top: 115px;
  background-color: #333333;
  z-index: 0;
  min-height: calc(100dvh - 145px);
}

.page-content.sm-margin {
  margin-top: 50px;
  height: calc(100dvh - 80px);
}

.footer {
  background-color: #222222;
  padding: 15px 15px;
}

.footer-content {
  font-size: 0.8rem;
}

.footer-content a {
  color: #CCCCCC;
  padding-left: 1rem;
  padding-right: 1rem;
}

